<p>cars works!</p>
<div class="row">
    <div class="col-md-4" *ngFor="let c of cars">
        <a routerLink="#"(click)="openVehicle(c.vehicleId)">
        <div class="card">
            <div class="card-header">
                <img [src]="c.vehicleImage" alt="" class="img-fluid">
            </div>
            <div class="card-body">
                <h4 class="card-title">{{c.vehicleName}}</h4>
                <p> <span class="badge bg-primary">{{c.rating}}<i class="fa-fa-stars"></i></span></p>
            </div>
        </div>
    </a> 
    </div>
</div>
